@page "/profile"
@using System.Security.Claims
@using System.Text.RegularExpressions
@using Chirp.Core
@model Chirp.Web.Pages.ProfileModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <h2>@User.Identity?.Name's Profile</h2>
        <h3>The claims about you in Chirp</h3>
        <table>
            <tr>
                <th>Claim type</th>
                <th>Claim value</th>
            </tr>
            @foreach (Claim claim in User.Claims)
            {
                <tr>
                    <td>@Regex.Replace(claim.Type, @"^.*\/", "")</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </table>
        <br/>
        <input type='submit'
               value="See how your data is processed"
               onclick="alert('We use the username from your Github account to identify you to other users on the site. Alongside this, we store information regarding your cheeps, the users you follow, and the users who follow you. The rest of the data we process, and which you can view on this page, is used for authentication, and to authorize you to use the features of the platform. No unnecessary data is processed. The data processed is strictly the data necessary for Chirp to function. No data is sold or shared with anyone, and it never will be.')">
        <form method="post">
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete my profile">
        </form>

                            
        @if (Model.Follows.Count() > 1)
        {
            <h2> Your Follows </h2>

            <ul id="followlist" class="follows">
                @foreach (FollowViewModel follow in Model.Follows)
                {
                    @if (follow.Following.Name != User.Identity?.Name)
                    {
                        <li>
                            <p>
                                <strong>
                                    <a href="/@follow.Following.Name">@follow.Following.Name</a>
                                </strong>
                                <a href="/follow/@follow.Following.Name/profile"> unfollow</a>
                            </p>
                        </li>
                    }
                }
            </ul>
        }
        

        @if (Model.Cheeps.Any())
        {
            <h2> Your Cheeps </h2>

            <ul id="messagelist" class="cheeps">
                @foreach (CheepViewModel cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            <!--==true is required, since it is a bool? not a bool-->
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                if (cheep.Author == User.Identity?.Name)
                                {
                                    <a href="/delete/@cheep.CheepId/profile"> delete</a>
                                }
                            }

                            @{
                                string[] cheepParts = Model.SplitCheepByTags(cheep.Message);
                                string[] cheepTaggedAuthors = Model.GetTaggedAuthorsFromCheepMessage(cheep.Message);
                            }
                            @for (var i = 0; i < cheepParts.Length; i++)
                            {
                                @cheepParts[i]
                                if (i < cheepTaggedAuthors.Length)
                                {
                                    <strong>
                                        <a href="/@cheepTaggedAuthors[i]">@cheepTaggedAuthors[i]</a>
                                    </strong>
                                }
                            }
                            <small>&mdash; @cheep.TimeStamp</small>
                        </p>
                    </li>
                }
            </ul>
        }
        <div>
            @if (Model.Cheeps.Any()){
                if (Model.currentPage != 1)
                {
                    <a href="/profile/?page=@(Model.currentPage - 1)">&lt;Previous</a>
                }
                foreach (int pageNumber in Model.numbersToShow)
                {
                    if (pageNumber == Model.currentPage){
                        <a href="/profile/?page=@(pageNumber)"><b>@(pageNumber)</b></a>
                    }
                    else {
                        <a href="/profile/?page=@(pageNumber)"><small>@(pageNumber)</small></a>
                    }
                }
                if (Model.currentPage != Model.totalPages)
                {
                    <a href="/profile/?page=@(Model.currentPage + 1)">Next&gt;</a>
                }
            }
        </div>
    }
    else
    {
        <em>You are not signed in, we are not processing any of your data.</em>
    }
</div>