@page "/{author}"
@using Chirp.Core
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    object? routeName = HttpContext.GetRouteValue("author");
}

<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <form method="post">
            @Html.AntiForgeryToken()
            <!--This code was taken lecture 9's notes (https://github.com/itu-bdsa/lecture_notes/blob/main/sessions/session_09/README_PROJECT.md#add-feature-sending-cheeps)-->

            <div class="cheepbox">
                <h3>What's on your mind @(User.Identity.Name)?</h3>
                <form method="post">
                    <input style="float: left" type="text" name="CheepText" minlength="1" maxlength="160">
                    <input type="submit" value="Cheep!">
                </form>
            </div>
        </form>
    }

    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (CheepDTO cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        <!--==true is required, since it is a bool? not a bool--> 
                        @if (User.Identity?.IsAuthenticated == true){
                            if (cheep.Author == User.Identity?.Name){
                                <a href="/delete/@cheep.CheepId/@routeName"> delete</a>
                            }
                            else {
                                @if (await Model.CheckFollow(cheep.Author)){
                                <a href="/follow/@cheep.Author/@routeName"> unfollow</a>
                            }
                                else {
                                <a href="/follow/@cheep.Author/@routeName"> follow</a>
                                }
                            }
                        }
                        @{
                            string[] cheepParts = Model.SplitCheepByTags(cheep.Message);
                            string[] cheepTaggedAuthors = Model.GetTaggedAuthorsFromCheepMessage(cheep.Message);
                        }
                        @for (var i = 0; i < cheepParts.Length; i++)
                        {
                            @cheepParts[i]
                            if (i < cheepTaggedAuthors.Length)
                            {
                                <strong>
                                    <a href="/@cheepTaggedAuthors[i]">@cheepTaggedAuthors[i]</a>
                                </strong>
                            }
                        }                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps here.</em>
    }
</div>
<div>
    @if (Model.Cheeps.Any()){
        if (Model.currentPage != 1)
        {
            <a href="/@(routeName)/?page=@(Model.currentPage - 1)">&lt;Previous</a>
        }
        foreach (int pageNumber in Model.numbersToShow)
        {
            if (pageNumber == Model.currentPage){
                <a href="/@(routeName)/?page=@(pageNumber)"><b>@(pageNumber)</b></a>
                }
            else {
                <a href="/@(routeName)/?page=@(pageNumber)"><small>@(pageNumber)</small></a>
            }
        }
        if (Model.currentPage != Model.totalPages)
        {
            <a href="/@(routeName)/?page=@(Model.currentPage + 1)">Next&gt;</a>
        }
    }
</div>